<main>
	<a href="/ali/cadastrarAli">
		<div id="cadastro">
			<div id="textoCadastro">
				Cadastrar um Ali <br />
				Meu Bebe?
			</div>
		</div>
	</a>

	<div id="tituloCadastrados">
		<p>Ali's Cadastrados:</p>
	</div>
	{{#each ali}}

	<div class="iten">
		<div class="img">
			<img src="{{this.linkIMG}}" />
		</div>
		<div class="info">
			<p>{{this.nome}}</p>
			<p>R$ {{this.preco}}</p>
			<p>Numero: {{@index}}</p>
			<div class="botoes">
				
				
					<a href="{{this.link}}">
					<input type="submit" value="Visitar" name="Visitar" class="olhar" />
				</a>
				
				<form action="/ali/Alieditar" method="POST">
					<input type="hidden" name="id_ali" value="{{this.id_ali}}" />
					<input type="submit" value="Editar" name="Excluir" class="editar"/>
				</form>
				<form class="borde-0 m-0" action="/ali/excluirAli" method="POST">
					<input type="hidden" name="id_ali" value="{{this.id_ali}}" />
					<a href="">
						<input type="submit" value="Excluir" name="Excluir" class="excluir" />
					</a>
				</form>
			</div>
		</div>
	</div>

	{{/each}}
</main>
